---
import {GoogleAnalytics} from 'astro-analytics';

import 'purecss/build/buttons.css';
import '../styles/libertine.sass';
import '../styles/main.sass';

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    {import.meta.env.GTAG &&
     <GoogleAnalytics id={import.meta.env.GTAG} />}
  </head>
  <body>
    <slot/>
    <footer class="site-footer">
      <a href="https://accessibility.mit.edu/">Accessibility</a>
    </footer>
  </body>
</html>
